/*chat stuff*/
iframe{
    position: fixed;
    right:4%;
    bottom:64px;
    display:inline-block;
    border: 0;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 30%;
    height:200px;
}
button{
    position: fixed;
    right:4%;
    bottom:2.5%;
    font-size:200%;
    vertical-align: bottom;
    width:30%;
    height:50px;
    border-bottom-left-radius: 15px;
    background-color: rgb(66, 36, 94);;
    color:#f1f1f1;
    border: 0;
}