body { 
    color: rgb(136, 115, 160); 
    font-weight: bold; 
    font-family: "Courier New"; 
    background: rgb(66, 36, 94); 
}
span { 
    color: #f1f1f1; 
} 
::-webkit-input-placeholder { 
    color: rgb(82, 49, 112);
}
#main { 
    width: 93%; 
    border: 0px solid #421;
    padding-top: 30px;
    
    font-size: 110%; 
}
#main div { 
    margin: 10px; 
} 
#input { 
    border: 0; 
    padding: 5px;
    position: fixed;
    width:93%;
    margin:0;
    height:10%;
    font-size: 110%;
    background-color: rgb(136, 115, 160); 
    color:#f1f1f1;
    border-radius: 10px;
}
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background:rgb(66, 36, 94); 
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(136, 115, 160); 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }