

body { 
    color: #421; 
    font-weight: bold; 
    font-size: 13px; 
    font-family: "Courier New"; 
    background: rgb(200, 232, 241); 


}
span { 
    color: rgb(9, 67, 133); 
} 
::-webkit-input-placeholder { 
    color: rgb(8, 80, 46) 
}
#main { 
    width: 200px; 
    border: 0px solid #421;
}
#main div { 
    margin: 10px; 
} 
#input { 
    border: 0; 
    padding: 5px; 
    border: 1px solid #421; 
    position: fixed;
}
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }